<nav class="navbar fixed-top navbar-expand-lg navbar-light text-primary bg-dark mb-3">
  <a class="navbar-brand text-light" href="#">@Product_Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active text-primary" href="#">Home</a>
      <a class="nav-item nav-link text-primary" [routerLink]="['productdetails']">Product</a>
      <a class="nav-item nav-link text-primary"[routerLink]="['categorydetails']">Category</a>
      <a class="nav-item nav-link text-primary" [routerLink]="['login']">Logout</a>
      <a class="nav-item nav-link text-warning" href="#"><i class="fas fa-cart-plus fa-3x"></i></a>
    </div>
  </div>
</nav>

<div class="container mt-3 pt-5">
  <router-outlet></router-outlet>
</div>